<!--The content below is only a placeholder and can be replaced.-->
<div>
<p>
  Noun: <input placeholder= "noun" [(ngModel)]= "appInput" /> 
  Adverb: <input placeholder= "adverb" [(ngModel)]="otherInput" />  
</p>
</div>
<section>
<h1>
  <span *ngIf ="appInput">Angular is {{ appInput }} fun!</span>
  <span *ngIf ="otherInput"> It is built using the {{ otherInput }} design pattern.</span>
  <span *ngIf ="!appInput">Angular is ____ fun!</span>
  <span *ngIf ="!otherInput"> It is built using the ____ design pattern.</span>
</h1>
</section>
<!-- <p>Angular is {{ appInput }} fun! It is built using the {{ otherInput }}
    design pattern.</p> -->
